<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>本站永久网址：悄悄乐.com</title>
    <meta name="robots" content="none"/>
    <meta name="Baiduspider" content="noindex,nofollow"/>
    <meta name="Sosospider" content="noindex,nofollow"/>
    <meta name="sogou spider" content="noindex,nofollow"/>
    <meta name="360Spider" content="noindex,nofollow"/>
    <meta name="YodaoBot" content="noindex,nofollow"/>
    <meta name="Googlebot" content="noindex,nofollow"/>
    <meta name="MicroMessenger" content="noindex,nofollow"/>
    <meta name="QQBrowser" content="noindex,nofollow"/>
    <meta content=yes name=apple-mobile-web-app-capable>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="./css/weui.css"/>
    <link rel="stylesheet" href="./css/weuix.css"/>
    <script src="./js/zepto.min.js"></script>
    <script src="./js/zepto.weui.js"></script>
    <script src="./js/iscroll-lite.js"></script>
    <script src="./js/cryptojs/core.js"></script>
    <script src="./js/cryptojs/enc-base64.js"></script>
    <script src="./js/cryptojs/cipher-core.js"></script>
    <script src="./js/cryptojs/aes.js"></script>
    <script src="./js/cryptojs/md5.js"></script>
    <script src="./js/php.js"></script>
    <script src="./js/server.js"></script>
    <script src="./js/function.js"></script>
    <style>
        #content img {
            width: 100%;
        }

        body {
            line-height: 0;
        }

        .home {
            background-color: #444;
            padding: 1em;
            position: fixed;
            border-radius: 100px;
            top: 30px;
            left: 20px;
            opacity: 0.7;
        }

        .home img {
            width: 30px;
        }
    </style>
</head>
<body>
<a href="javascript:window.history.go(-1);">
    <div class="home"><img src="images/home.png"></div>
</a>
<div id="content"></div>

<div id="login_register" style="padding-bottom:2em; margin: 25px 0 0 0; text-align: center; display: none;">
    <p style="margin-bottom: 20px;" id="loginMsg">你未登录，请先登录</p>
    <a href="javascript:login();" class="weui-btn weui-btn_mini weui-btn_primary" id="login" style="margin-right: 5em; padding: 0 3em;">登录</a>
    <a href="javascript:register();" class="weui-btn weui-btn_mini weui-btn_warn" id="register" style="padding: 0 3em;">注册</a>
</div>

<div id="chongzhi" style="padding-bottom:2em; margin: 25px 0 0 0; text-align: center; display: none;">
    <p style="margin-bottom: 30px;" id="msg"></p>
    <a href="buyvip.html" class="weui-btn weui-btn_mini weui-btn_primary" style="padding: 0 3em;">会员充值</a>
</div>

<script id="tpl" type="text/html">
    <% for(var i in list) { %>
    <span><img src="<%=list[i]%>"></span>
    <% } %>
</script>
<script>
    let dp;
    let uid = localStorage.getItem('uid');

    //获取作品内容
    function getWorksInfo(id) {
        if (id === "null") {
            id = "";
        }
        return new Promise((resolve) => {
            $.post(server_url + "h5/getWorksInfo", {wid: id, uid: uid}, function (res) {
                resolve(res);
            }, 'json');
        });
    }

    getWorksInfo($_GET("id")).then((data) => {
        if (data.cover) {
            $("#content").append('<span><img src="' + data.cover + '"></span>');
        }
        if (data.list) {
            $("#content").append(tpl(document.getElementById('tpl').innerHTML, data));
        }
        setTimeout(function () {
            if (data.code === 300) {
                if (!uid) {
                    $("#login_register").css("display", "block");
                    $("#loginMsg").text(data.msg);
                }
            } else if (data.code !== 200) {
                $("#chongzhi").css("display", "block");
                $("#msg").text(data.msg);
            }
        }, 1000);
    });
</script>
</body>
</html>